<html>
<head>
    <title>Demo</title>
    <style>
#div2
{
background-color:#33CCCC;
width: 500px;
height: 200px;

margin: 20px 650px;
}
#div1
{
background-color:#33CCCC;
width: 1550px;
height: 100px;
margin: 5px 200px 30px 150px;
}
</style>
</head>
<body bgcolor = '#00FFFF'>
<div id="div1" >
        
    <center><h1><b><i>About Us</i></b></center>
        </div><hr><hr>
<h3><i><b>

<div id= 'div2'>     
<center>
Developed and Design by :<font color = "RED"> Gaurav Nagpal</font><br><br>
Gaurav Nagpal.<br>
Jr. Software Engineer,<br>
Tarams Software Technologies Pvt. Ltd.<br>
<font color="BLUE"><h4>gaurav.nagpal@tarams.com</h4></font>
</center>
   </div>    
<center><h2><i><a href="/">Back to home Page</a></i></h2></center><br>
</body>
</html>

