





<html>
<head>
    <title>Demo</title>
    <style>
#div2
{
background-color:#33CCCC;
width: 500px;
height: 200px;

margin: 20px 650px;
}
#div1
{
background-color:#33CCCC;
width: 1550px;
height: 100px;
margin: 5px 200px 30px 150px;
}
label
{

}
input
{

}
</style>
</head>
<body bgcolor = '#00FFFF'>
<div id="div1" >
        
    <center><h1><b><i>Area wise Classification</i></b></center>
        </div><hr><hr>
<h3><i><b>

<div id= 'div2'>

	<form action="{% url app.views.delete_admin %}" method="post"><br>
		<center><label>Username:</label>
		<input type="text" name="del_name" /><br />
		<br><br>
		<input type="submit" value="delete" /></center>
	</div></h3></form>



   </div>    
<center><h2><i><a href="{% url app.views.home %}">Back to home Page</a></i></h2></center><br>
</body>
</html>

