<html>
<head>
    <title>PG/Rooms Services{% block title %} {% endblock %}</title>
<head>
<style>
{% block style %}
{% endblock %}

#div1
{
background-color:#33CCCC;
width: 1550px;
height: 100px;
margin: 5px 200px 30px 150px;
}

#div2
{
margin: 5px 200px 30px 150px;
background-color:#339999;
}
p
{
    width: 1550px;
    margin :5px 200px 30px 150px;
}
margin: 5px 200px 30px 150px;


</style>
</head>
<body bgcolor = '#00FFFF'>

<div id="div1" >
        
    <center><h1><b><i>Welcome to Pg/Room Servies</i></b></center>
        </div><hr><hr>
{% block content%}{% endblock %}
<div id = "div2">
<p><h1><center><font color="white">
You are not registered User. <br>Plz register first Then see the details of advertizer
</p></h1><br></center><center></font>
<h2><i><a href="/">Back to home Page</a></i></h2></center><br
</div>
</body>
</html>

