{% extends "base.html" %}
{% block head %} {% endblock %}
{% block style %}
#div9
{
background-color:#33CCCC;

width: 500px;
height: 220px;

margin: 20px 650px;
}

{% endblock %}
{% block content %}
	<form action="{% url app.views.login_user %}" method="post">
<center>		<font color="RED"><h3>{{state}}</h3></font></center>
<div id=div9><center><h3>
		<br><br>Username:
		<input type="text" name="username"  /><br />
		<br>Password:
		<input type="password" name="password" value="" /><br />
<br>
		<input type="submit" value="Log In" />
        <br><br><a href="{% url app.views.forgot %}"> Forgot Password</a>
	</div></center></h3></form>
{% endblock %}
















