<html>
<head>
    <title>Demo</title>
    <style>
#div2
{
background-color:#33CCCC;
width: 500px;
height: 200px;

margin: 20px 650px;
}
#div1
{
background-color:#33CCCC;
width: 1550px;
height: 100px;
margin: 5px 200px 30px 150px;
}
</style>
</head>
<body bgcolor = '#00FFFF'>
<div id="div1" >
        
    <center><h1><b><i>Area wise Classification</i></b></center>
        </div><hr><hr>
<h3><i><b>

<div id= 'div2'>           {% for i in aa %}
    
    
    {% if request.user.is_authenticated %}
       
     <a href="page/{{ i.area }}">   {{ i.area }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       {% else %}
              <a href=" {% url app.views.error %} ">   {{ i.area }}</a>     
   
 {% endif %}
<br>
    {% endfor %}
   </div>    
<center><h2><i><a href="/">Back to home Page</a></i></h2></center><br>
</body>
</html>

