<html>
    <head>
        <title>Forms Example</title>

    </head>
    <body>
        <form action="" method="post"> 
            <ul>
              
                  Posted By:  {{ user.posted_by }}<br>
                  phn_no :    {{ user.phn_no }}<br>
                  Area:       {{ user.area }}<br>
                  Monthly_rent:{{ user.monthly_rent }}<br>
                  Sharing :   {{ user.sharing }}<br>
                  cuisine :   {{ user.cuisine }}<br>
                
<br><br><br>


            </ul>

        </form>
<center><h2><i><a href="/">Back to home Page</a></i></h2></center><br>
    </body>
</html>

