
<html>
<head>
<style>

 #div3
                 {
                    background-color:#33CCCC;
                 }
</style></head>
<body bgcolor= '#00FFFF'>
  <center><h1><b><i>Welcome to Posting ad </i></b></center>
        </div><hr><hr>
<h3><i><b>
         <form action="{% url app.views.feedback %}" method="post">
            <div id="div3">{{ rating.as_p }}
                <input type="submit" id="input1">
            </div>

        </form>
        
        <br><br>

        <center><h2><i><a href="/">Back to home Page</a></i></h2></center><br>
</body>
</html>
