{% extends "base.html" %}
{% block head %}
<title>Registration Forms Example</title>
        <link rel="stylesheet" type="text/css"/>
            {% block style %}
                 div
                 {
                    background-color:#33CCCC;
                    
                 }
                 label
                 {
                    
                    
                    margin:15px 100px 5px 500px;
                    padding-top:0.1px;
                 }
                 input
                 {
                      
                      margin:15px 200px 5px 200px;
                      padding-top:0.1px;
                 }
                 select
                 {
                      
                      margin:15px 200px 5px 200px;
                      padding-top:0.1px;
                 }

                 #input1
                 {
                    margin-left:730px;
                 }
             {% endblock %}

 {% endblock %}
{% block content %}
         <h1>
             <center> Registation Form</center>
         </h1 >
         
         <hr><hr>
         <form action="{% url app.views.savedata %}" method="post">
            <div>
                <center><h2><font color = "RED">{{ state }}</h2></font></center>
                <table>
                {{ form.as_table }}
                </table>                
                <input type="submit" id="input1">
                
            </div>

        </form>
        
        <br><br>

        <center><h2><i><a href="/">Back to home Page</a></i></h2></center><br>


{% endblock %}

