<html>
    <head>
        <title>Registation Forms Example</title>

    <link rel="stylesheet" type="text/css"/>
    <style>
div
{
background-color:#00FFFF;
width: 1550px;
height: 150px;
margin: 5px 200px 10px 50px;
}

</style>


    </head>
    <body>
<h1><center>Fetching from Models</center></h1><hr><hr>
      
            <ul>
                
                    <div>   Name:   {{ user.user.username }}<br>
                            Firstname:   {{ user.user.first_name }}<br>
                            lastname:   {{ user.user.last_name }}<br>
                            Email:   {{ user.user.email }}<br>
                            password:   {{ user.user.password }}<br>
                            Address:   {{ user.address}}<br>
                            User_type:{{ user.user_type }}
                    
                </div>
<br><br><br>


            </ul>

      <center><h2><i><a href="/">Back to home Page</a></i></h2></center><br>
    </body>
</html>

