





<html>
<head>
    <title>Demo</title>
    <style>
#div2
{
background-color:#33CCCC;
width: 500px;
height: 400px;

margin: 20px 650px;
}
#div1
{
background-color:#33CCCC;
width: 1550px;
height: 100px;
margin: 5px 200px 30px 150px;
}
</style>
</head>
<body bgcolor = '#00FFFF'>
<div id="div1" >
        
    <center><h1><b><i>Area wise Classification</i></b></center>
        </div><hr><hr>
<h3><i><b>
{% ifequal request.user.username 'admin' %}
         <center><a href="{% url app.views.delete %}">Delete user<a></center>
        {% endifequal %}
<div id= 'div2'>
                 {% for post in user_data %}
                         {% if post.username != "admin" %}
                    
                               <a href="/show/{{ post.id }}">{{ post.username }}</a>
                        {% endif %}
                   
<br><br>
{% endfor %}

   </div>    
<center><h2><i><a href="{% url app.views.home %}">Back to home Page</a></i></h2></center><br>
</body>
</html>

