<html>
    <head>
        <title>Forms Example</title>

    <link rel="stylesheet" type="text/css"/>
    <style>
div
{
background-color:#00FFFF;
width: 1550px;
height: 140px;
margin: 5px 200px 10px 50px;
}

</style>


    </head>
    <body>
<h1><center>Fetching from Models</center></h1><hr><hr>
      <div>   
            <ul>
Name :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user_data.user.username}}<br>
First Name :&nbsp;&nbsp;&nbsp;&nbsp;{{user_data.user.first_name}}<br>
Last Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user_data.user.last_name}}<br>
Email id:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user_data.user.email}}<br>
Password :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user_data.user.password}}<br>
Address :{{user_data.address}}<br>
user_type : {{user_data.user_type}}<br>
            </ul>
</div><h2><i>
        <a href= "{% url app.views.data %}">Back to all details</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/">Back to home Page</a></i></h2><br>
    </body>
</html>

